<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filtros.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>EquiposControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>EstadiosControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>HomeControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>ReservasControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>JugadorControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>PartidoControlador</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>GolControlador</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>EquiposControlador</servlet-name>
        <servlet-class>servlets.EquiposControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JugadorControlador</servlet-name>
        <servlet-class>servlets.JugadorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadiosControlador</servlet-name>
        <servlet-class>servlets.EstadiosControlador</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>HomeControlador</servlet-name>
        <servlet-class>servlets.HomeControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasControlador</servlet-name>
        <servlet-class>servlets.ReservasControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartidoControlador</servlet-name>
        <servlet-class>servlets.PartidoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GolControlador</servlet-name>
        <servlet-class>servlets.GolControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultasControlador</servlet-name>
        <servlet-class>servlets.ConsultasControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EquiposControlador</servlet-name>
        <url-pattern>/ListarEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquiposControlador</servlet-name>
        <url-pattern>/Equipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadiosControlador</servlet-name>
        <url-pattern>/Estadio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadiosControlador</servlet-name>
        <url-pattern>/ListarEstadios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControlador</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasControlador</servlet-name>
        <url-pattern>/ReservaEntradas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasControlador</servlet-name>
        <url-pattern>/ConsultaReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadorControlador</servlet-name>
        <url-pattern>/Jugador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JugadorControlador</servlet-name>
        <url-pattern>/ListarJugadores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartidoControlador</servlet-name>
        <url-pattern>/Partido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GolControlador</servlet-name>
        <url-pattern>/Gol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultasControlador</servlet-name>
        <url-pattern>/Consultas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
